@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Cloud</h1>

    <div>
        <p>클라우드란 인터넷에 연결된 다른 컴퓨터의 자원을 확용하는 것을 의미한다.</p>
        <p>내 기기에 저장하는게 아니라 인터넷에 연결된 다른 기기에 저장한다. 또한 저장뿐만 아니라 기능도 빌릴 수 있다.
        빌리고 싶은 만큼만 빌려서 사용할수 있다.
        </p>
    </div>
    <div>
        <p>EC2 : 가장 범용적으로 이용되는 서비스이다. (설정 및 관리가 필요하다.)</p>
        <p>AWS Lambda : 서버리스 컴퓨팅 서비스, 클라우드에서 동작하기 원하는 특정 코드만 올려 놓으면 코드가 동작할 떄만 사용하는 서버이다.</p>
        <p>AWS Aurora : Lambda의 데이터베이스 버전이라고도 한다. 서버 없이 바로 DB만 사용가능하며 사용한 만큼만 요금을 낸다.</p>
    </div>
</div>
